<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/CSS/home.css" />
    <style></style>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="main">
      <h1>Contact List</h1>

      <div>
        <ul>
          <% for (let i of contactList){%>

          <li type="square">
            <div>
              <p><%=i.name%></p>
              <p><%=i.phone%></p>
            </div>
            <a href="/delete-contact/?phone=<%= i.phone %>">
                <img src="/Images/outline_close_black_24dp.png" alt="" />
              </a>
          </li>
          <% } %>
        </ul>
      </div>

      <form action="/createContact" method="POST">
        <input type="text" name="name" id="" placeholder="Enter Name" />
        <input type="number" name="phone" id="" placeholder="Enter Phone No" />
        <button>Create Contact</button>
      </form>
    </div>
  </body>
</html>
